@(webSocketPort: String, sessionId: String, users: String, absences: String)
@main("Absence") {
<style type="text/css">
	#aCalendar
	{
		width:100%;
		height: 30px;
		position: relative;
	}
	
	#aCalendar div.scrollableArea img
	{
		position: relative;
		float: left;
		margin: 0;
		padding: 0;
		/* If you don't want the images in the scroller to be selectable, try the following
		   block of code. It's just a nice feature that prevent the images from
		   accidentally becoming selected/inverted when the user interacts with the scroller. */
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	.scrollWrapper {
		float: left;
	}
</style>
<script type="text/javascript" charset="utf-8">
$(function() {
	absenceNS.init('@sessionId')
	absenceNS.users.add(@Html(users))
	absenceNS.absences.add(@Html(absences))
})
$(document).ready(function () {
	$("div#aCalendar").smoothDivScroll({});
});
</script>
<script type="text/template" id="user-template">
	<li>
		<span><%= id %> - </span>
		<span class="liUserName"><%= name %></span>
		<a class="liUserDelete" style="colour:red" href="#">X</a>
	</li>
</script>
<script type="text/template" id="absence-template">
	<li>
		<span><%= id %> - </span>
		<span class="liAbsenceDescription"><%= description %></span>
		<span class="liAbsenceStart"><%= new Date(start).toString("yyyy-MM-dd HH:mm") %></span> <->
		<span class="liAbsenceEnd"><%= new Date(end).toString("yyyy-MM-dd HH:mm") %></span>
		<a class="liAbsenceDelete" style="colour:red" href="#">X</a></li>
</script>


	<div>
    	<ul id="user-list"></ul>
		<ul id="absence-list"></ul>    	
    </div>
    <div id="newUserRequestDiv"  style=" border : 2px dotted red">
    	<div>Name: <input type="text" id="newUserRequestName"></div>
    	<button id="newUserRequestButton">create user</button>
    </div>
    <div id="allUsersRequestDiv"  style=" border : 2px dotted pink">
    	<button id="allUsersRequestButton">get all users</button>
    </div>
    <div id="newAbsenceRequestDiv"  style=" border : 2px dotted blue">
    	<div>UserId: <input type="text" id="newAbsenceRequestUserId" placeholder="a valid user id"></div>
    	<div>Description: <input type="text" id="newAbsenceRequestDescription" placeholder="description"></div>
    	<div>Start: <input type="text" name="newAbsenceRequestStart" id="newAbsenceRequestStart" value=""></div>
    	<div>End: <input type="text" name="newAbsenceRequestEnd" id="newAbsenceRequestEnd" value=""></div>
    	<button id="newAbsenceRequestButton">create absence</button>
    </div>
    <div id="allAbsenceRequestDiv"  style=" border : 2px dotted green">
    	<button id="allAbsenceRequestButton">get all absence</button>
    </div>
    <div id="currentWeekRequestDiv"  style=" border : 2px dotted purple">
      <button id="currentWeekRequestButton">get current week</button>
    </div>
    <div id="log"></div>
    
    <div id="app">
		<div id="users">
		    <div id="c">
		    	Date
		    </div>
		    <div id="u1">
		    	Dallas
		    </div>
		    <div id="u2">
		    	Dolores
		    </div>
		</div>
	    <div id="aCalendar">
	    	<div id="row1"><div class="korv">Korv1</div></div>
	    	<div id="row2"><div class="korv">Korv2</div></div>
	    	<div id="row3"><div class="korv">Korv3</div></div>
	    </div>
    </div>
}