@(webSocketPort: String, sessionId: String)
@main("Web Socket Test Page") {
    
<script type="text/javascript" charset="utf-8">
$(function() {
	/* Absence Model */
	var Absence = Backbone.Model.extend({
		defaults : function() {
			return {
				userId : -1,
				description : "-description-",
				start : 100,
				end : 200
			}
		},
		url: '/absence'
	})
	/* User Model */
	var User = Backbone.Model.extend({
		defaults : function() {
			return {
				name : "default name"
			};
		},
		url: '/user'
	})
	
	/* List of User models List[User] */
	var Users = Backbone.Collection.extend({
		model : User
	})

	/* List of Absence models List[Absence] */
	var Absences = Backbone.Collection.extend({
		model : Absence
	})

	var users = new Users()

	users.on("add", function(user) {
		var view = new UserView({
			model : user
		});
		$("#user-list").append(view.render().el);
	})
	var absences = new Absences()

	absences.on("add", function(absence) {
		var view = new AbsenceView({
			model : absence
		});
		$("#absence-list").append(view.render().el);
	})
	
	/* User View */
	var UserView = Backbone.View.extend({
		tagName : "li",
		template: _.template($('#user-template').html()),
		events : {
			"click .liUser" : "edit"
		},
		initialize : function() {
			this.model.bind('change', this.render, this);
		},
		render : function() {
			this.$el.html(this.template(this.model.toJSON()));
			return this;
		},
		edit : function() {
			var newName = prompt("Please enter new name")
			if (newName) {
				this.model.set({name: newName})
				this.model.save()
			}
		}
	});
	/* Absence View */
	var AbsenceView = Backbone.View.extend({
		tagName : "li",
		template: _.template($('#absence-template').html()),
		events : {
			"click .liAbsenceDescription" : "edit"
		},
		initialize : function() {
			this.model.bind('change', this.render, this);
		},
		render : function() {
			this.$el.html(this.template(this.model.toJSON()));
			return this;
		},
		edit : function() {
			var newDescription = prompt("Please enter new description for Absence")
			if (newDescription) {
				this.model.set({description: newDescription})
				this.model.save()
			}
		}
	});

	var incommingUser = function(user) {
		var existingUser = users.get(user.id)
		if (existingUser) {
			existingUser.set({name: user.name})
		} else {
			users.add(new User(user))
		}
	}
	
	var incommingAbsence = function(absence) {
		var existingAbsence = absences.get(absence.id)
		if (existingAbsence) {
			existingAbsence.set({description: existingAbsence.name})
		} else {
			absences.add(new Absence(absence))
		}
	}

	var receiveEvent = function(event) {
		console.log(event)
		var jsonString = event.data
		$("#log").append("<div>" + jsonString + "</div>")
		var json = JSON.parse(jsonString)
		if (json.user) {
			incommingUser(json.user)
		} else if (json.userList) {
			var i = 0
			for(; i < json.userList.length; i++) {
				incommingUser(json.userList[i])
			}
		} else if (json.absence) {
			incommingAbsence(json.absence)
		} else if (json.absenceList) {
			var i = 0
			for(; i < json.absenceList.length; i++) {
				incommingAbsence(json.absenceList[i])
			}
		}
	}
	var onopen = function() {
		console.log("connected")
		$("#log").append("<div>connected</div>")
	}
	
	var sendMessage = function(endpoint, json) {
		sendMessage(endpoint, json, "POST")
	}
	
	var sendMessage = function(endpoint, json, method) {
		var jsonString = JSON.stringify(json)
		console.log("sending to: " + endpoint + " -> " + jsonString)
		var result = $.ajax({
			type : method,
			contentType : "application/json",
			url : endpoint,
			async : false,
			data : jsonString
		})
		console.log("synchronous response: " + result.responseText)
		return result
	}

	var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
	var absenceSocket = new WS("ws://" + location.hostname
			+ ":@webSocketPort/connect/@sessionId")
	absenceSocket.onmessage = receiveEvent
	absenceSocket.onopen = onopen

	$("#newUserRequestButton").click(function() {
		new User({name: $("#newUserRequestName").val()}).save()
	});
	$("#allUsersRequestButton").click(function() {
		var allUsersRequest = {}
		var endpoint = "/user"
		sendMessage(endpoint, allUsersRequest, "GET")
	});
	$("#allAbsenceRequestButton").click(function() {
		var allAbsenceRequest = {}
		var endpoint = "/absence"
		sendMessage(endpoint, allAbsenceRequest, "GET")
	});
	$("#newAbsenceRequestButton").click(function() {
		new Absence({
			userId : parseInt($("#newAbsenceRequestUserId").val()),
			description : $("#newAbsenceRequestDescription").val(),
			start : parseInt($("#newAbsenceRequestStart").val()),
			end : parseInt($("#newAbsenceRequestEnd").val())
		}).save()
	});
})
</script>
<script type="text/template" id="user-template">
	<li class="liUser"><%= name %></li>
</script>
<script type="text/template" id="absence-template">
	<li>
		<span><%= id %> - </span>
		<span class="liAbsenceDescription"><%= description %></span>
	</li>
</script>
	<div>
    	<span><ul id="user-list"></ul></span>
    	<span><ul id="absence-list"></ul></span>
    </div>
    <div id="newUserRequestDiv"  style=" border : 2px dotted red">
    	<div>Name: <input type="text" id="newUserRequestName"></div>
    	<button id="newUserRequestButton">create user</button>
    </div>
    <div id="allUsersRequestDiv"  style=" border : 2px dotted pink">
    	<button id="allUsersRequestButton">get all users</button>
    </div>
    <div id="newAbsenceRequestDiv"  style=" border : 2px dotted blue">
    	<div>UserId: <input type="text" id="newAbsenceRequestUserId"></div>
    	<div>Description: <input type="text" id="newAbsenceRequestDescription"></div>
    	<div>Start: <input type="text" id="newAbsenceRequestStart"></div>
    	<div>End: <input type="text" id="newAbsenceRequestEnd"></div>
    	<button id="newAbsenceRequestButton">create absence</button>
    </div>
    <div id="allAbsenceRequestDiv"  style=" border : 2px dotted green">
    	<button id="allAbsenceRequestButton">get all absence</button>
    </div>
    <div id="log"></div>
}