@(sessionId: String)
@main("Web Socket Test Page") {
    
<script type="text/javascript" charset="utf-8">
    
        $(function() {
          
            var listAllAbsenceRequest = {
            		
            }
            
            var receiveEvent = function(event) {
	            console.log(event)        
                var data = event.data
                $("#log").append("<div>" + data + "</div>")
                // Handle errors
                if(data.error) {
                    chatSocket.close()
                    return
                }
            
            }
            
            var onopen = function() {
            	console.log("connected")
            }
           
            var sendMessage = function(endpoint, json) {
            	var jsonString = JSON.stringify(json)
            	console.log("sending to: " + endpoint + " -> " + jsonString)
            	var result = $.ajax({
            		  type: "POST",
            		  contentType: "application/json",
            		  url: endpoint,
            		  async: false,
            		  data: jsonString})
            	console.log("synchronous response: " + result.responseText)
            	return result
            }
            
			var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var chatSocket = new WS("ws://" + location.host + ":9000/connect/@sessionId")
            chatSocket.onmessage = receiveEvent
            chatSocket.onopen = onopen
            
        	$("#newUserRequestButton").click(function() {
                var newUserRequest = {
                    	name: $("#newUserRequestName").val()
                }
        		var endpoint = $("#newUserRequestEndpoint").val()
        		sendMessage(endpoint, newUserRequest)
        	});
        	$("#allUsersRequestButton").click(function() { 
				var allUsersRequest = {}
        		var endpoint = $("#allUsersRequestEndpoint").val()
        		sendMessage(endpoint, allUsersRequest)
        	});
        	$("#allAbsenceRequestButton").click(function() { 
				var allAbsenceRequest = {}
        		var endpoint = $("#allAbsenceRequestEndpoint").val()
        		sendMessage(endpoint, allAbsenceRequest)
        	});
        	$("#newAbsenceRequestButton").click(function() {
        		var newAbsenceRequest = {
                		userId: parseInt($("#newAbsenceRequestUserId").val()),
                		description: $("#newAbsenceRequestDescription").val(),
                		start: parseInt($("#newAbsenceRequestStart").val()),
                		end: parseInt($("#newAbsenceRequestEnd").val())
                }
        		var endpoint = $("#newAbsenceRequestEndpoint").val()
        		sendMessage(endpoint, newAbsenceRequest)
        	});
        })
    
    </script>
    <div id="newUserRequestDiv"  style=" border : 2px dotted red">
    	<div>Endpoint: <input type="text" id="newUserRequestEndpoint" value="/jsonNewUser"></div>
    	<div>Name: <input type="text" id="newUserRequestName"></div>
    	<button id="newUserRequestButton">Send</button>
    </div>
    <div id="allUsersRequestDiv"  style=" border : 2px dotted pink">
    	<div>Endpoint: <input type="text" id="allUsersRequestEndpoint" value="/jsonAllUsers"></div>
    	<button id="allUsersRequestButton">Send</button>
    </div>
    <div id="newAbsenceRequestDiv"  style=" border : 2px dotted blue">
    	<div>Endpoint: <input type="text" id="newAbsenceRequestEndpoint" value="/jsonNew"></div>
    	<div>UserId: <input type="text" id="newAbsenceRequestUserId"></div>
    	<div>Description: <input type="text" id="newAbsenceRequestDescription"></div>
    	<div>Start: <input type="text" id="newAbsenceRequestStart"></div>
    	<div>End: <input type="text" id="newAbsenceRequestEnd"></div>
    	<button id="newAbsenceRequestButton">Send</button>
    </div>
    <div id="allAbsenceRequestDiv"  style=" border : 2px dotted green">
    	<div>Endpoint: <input type="text" id="allAbsenceRequestEndpoint" value="/jsonAll"></div>
    	<button id="allAbsenceRequestButton">Send</button>
    </div>
    <div id="log"></div>
}